.grid-wrapper{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header"
    "banner banner banner banner"
    "sidebar news news news"
    "footer footer footer footer"
    ;
}

nav{
    grid-area: header;
}

.about-wrapper{
    grid-area: banner;
}

.blog-sidebar{
    grid-area: sidebar;
}
.news-wrapper{
    grid-area: news;
}
footer{
    grid-area: footer;
}

.widget {
    margin-bottom: 40px;
    padding: 40px;
}
.widget .widget-title {
    margin-top: 0;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}
.widget .widget-title:after {
    border-bottom: 2px solid #EE163B;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
}

.widget ul.list li {
    margin: 25px 0 5px;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px dashed #d3d3d3;
}
.widget ul li.item {
    margin-bottom: 15px;
    position: relative;
    padding-left: 30px;
    padding-bottom: 10px;
}
.widget ul.list li a{
    color: #EE163B;
}
.widget ul li.item p {
    font-size: 1em;
    color: #a9a9a9;
    height: 60px;
    overflow-y: hidden;
    line-height: 1.8em;
}