.news-wrapper {
    width: 70%;
    margin: 3% auto;
}
.news-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.news-item {
    border: 1px solid #dddddd;
    padding: 10px;
}
.news-title {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 4rem;
}
.news-detail {
    line-height: 1.8rem;
    color: #585858;
}
.news-footer {
    background-color: #c7c7c7;
    padding: 10px;
    overflow:hidden;
}

.news-date {
    font-size: .8rem;
    color: #3b3b3b;
    float: left;
    padding: 15px;
}

.more {
    float: right;
    background-color: rgb(255, 90, 90);
    color: #ffffff;
    padding: 10px;
}